@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-regular {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/* _________Shared______styles________ */


body{
    max-width: 1440px;
    margin: 0 auto;
}
.primary-width{
    max-width: 1160px;
    margin: 0 auto;
}
.bg-img{
    background-image: url(/assets/bg.png);
}
.btn-primary{
    background-color: rgb(0, 0, 0);
    padding: 10px 50px;
    color: white;
    font-weight: 700;
    font-size: 1.25rem;
    border-radius: 12px;
    border: none;
}
.btn-primary:hover{
    color: aliceblue;
    background-color: #5D58EF;
    cursor: pointer;
}
.display-flex{
    display: flex;
    
}
.orange-color{
    color: #FEA301;
}
.sky-blue{
    color: #01ACFD;
}
.cyan{
    color: #05D4DF;
}
.violet-blue{
    color: #5D58EF;
}
.purple{
    color: purple;
}
.date-time-bg1{
    background-color: #FEA301;
}
.date-time-bg2{
    background-color: #01ACFD;
}
.date-time-bg3{
    background-color: #05D4DF;
}
.date-time-bg4{
    background-color:  #5D58EF;
}
.date-time-bg5{
    background-color:  purple;
}
.card-bg1{
    background-image: linear-gradient(#afbeaf, #f9e2e2);
}
.card-bg2{
    background-image: linear-gradient(#8ba9f0, #fbe9ff);
}
.card-bg3{
    background-image: linear-gradient(#ceade6, #fee7e7);
}
/* ______________header styles_________ */
.header{
    max-width: 1160px;
    margin: 0 auto;
}
/* ___________navbar styles_______ */
.navbar{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
}
.institue-name{
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.school-name{
    margin: 0;
    font-weight: bold;
    font-size: 2rem;
}
.nav-items{
    list-style: none;
    font-weight: 500;
    font-size: 1.25rem;
    margin-right: 32px;
}
.nav-links{
    text-decoration: none;
}
#home{
    font-weight: 700;
}
.nav-btn{
    background-color: orange;
    padding: 10px 60px;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 12px;
    border: none;
}
.nav-btn:hover{
    color: aliceblue;
    background-color: #5D58EF;
    cursor: pointer;
}
.nav-icon{
    display: none;
}
#horizontal-line{
    display:none;
}

/* ________Banner ______ Styles______ */

.banner{
    justify-content: space-between;
}
.banner-content{
    margin-top: 120px;
    margin-bottom: 120px;
}
.banner-title{
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 24px;
}
.banner-description{
    font-size: 1.25rem;
    margin-bottom: 24px;
}

/*___________  card section styles_________*/
.card-section{
    background-image: url(/assets/bg.png);
}

.section-title{
    margin-top: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 2.85rem;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    margin-top: 80px;
    margin-bottom: 80px;
    justify-content: center;
    gap: 28px;
}
.card{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 40px;
    border-radius: 18px; 
}
.card-title{
    font-weight: 700;
    font-size: 1.5rem;
}
.card-description{
    max-width: 286px;
    font-weight: 500;
    font-size: 1rem;
}
.read-more{
    font-weight: 700;
    font-size: 1rem;
}
.read-more-link{
    text-decoration: none;
}
.card-icons{
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.card-btn{
    background-color: rgb(245, 213, 213);
    padding: 17px;
    border-radius: 50px;
    border: none;
}
.card-btn:hover{
background-color: #01ACFD;
cursor: pointer;
}

/* ____________________our stories section_________________ */
.stories-section{
    background-image: linear-gradient(white,#d7b06e);
}
.stories-card-container{
    background-image: url(/assets/bg.png);
    display: flex;
    gap: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.left-card-story{
    border: none;
    border-radius: 16px;
    margin: 0;
    background-color: #fff;
}
.card-content{
    padding: 25px;
}
.right-card-stories{
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
}
.stories-card{
    border: none;
    border-radius: 16px;
    margin: 0;
    background-color: #fff;
}
.story-img{
    margin:0;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.story-title{  
    padding: 25px;
}
.stories-btn{
    background-color: rgb(0, 0, 0);
    padding: 10px 50px;
    color: white;
    font-weight: 700;
    font-size: 1.25rem;
    border-radius: 12px;
    border: none;
}
.stories-btn:hover{
    color: aliceblue;
    background-color: #5D58EF;
    cursor: pointer;
}
.stories-bt-container{
    padding-bottom: 60px;
    text-align: center;   
}
.left-card-story{
    position: relative;
}
.left-time-date-container{
    position: absolute;
    top: 305px;
    left: 40px;
}
.stories-card{
    position: relative;
}
.time-date-container{
    position: absolute;
    top: 143px;
    left: 40px;   
}
.time-date{
    font-weight: 500;
    border:none;
    color: white;
    padding: 9px 12px;
    border-radius: 48px;
}

/* ____________responsive_______small_______device_______ */

@media screen and (max-width: 576px) {
    .institue-name,
    .banner{
        flex-direction: column;
    }
    
    .header{
        margin: 16px;
    }
    .school-name, .banner-links, .nav-btn,.left-card-story{
        display: none;
    }
    .nav-icon, #horizontal-line{
        display: block;
    }
    .banner{
        flex-direction: column-reverse;
        margin-top: 20px;
    }
    .banner-content{
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .banner-title{
        font-size: 2rem;
    }
    .banner-description{
        font-size: 0.8rem;
    }
    .btn-primary{
        font-size: 1rem;
        border-radius: 8px;
    } 
    .card-container{
        grid-template-columns: repeat(1, 1fr);
        margin: 16px;
    }
    .section-title{
        font-size: 1.625rem;
    } 
    .card-icons{
        display: none;
    }
    .card-title{
        font-weight: 700;
        font-size: 1rem;
    }
    .card-description{
        font-weight: 500;
        font-size: 0.63rem;
    }
    .read-more{
        font-weight: 700;
        font-size: 0.63rem;
    }
    .right-card-stories{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 16px;
        margin-right: 16px;
    }
    .stories-card{
        position: relative;
        max-width: 175px;
        gap: 10px;
        margin: 0;
    }
    .time-date{
        font-size: 0.55rem;
    }
    .story-img{
        max-width: 175px;
    }
    .story-title{
        font-size: 0.55rem;
    }
    .time-date-container{
        position: absolute;
        top: 85px;
        left: 22px;   
    }
}